#Blacklist everything
/*
.config/*
.config/nvim/*
/.config/ghostty/*
/.config/awesome/*
/.config/alacritty/*
/.config/alacritty/themes/*
/.config/alacritty/themes/themes/*

#Whitelist the following
!/.gitignore
!/.bash_profile
!/.bashrc
!/.clang-format
!/.emacs
!/.tmux.conf
!/.xinitrc


!/.config/
!/.config/nvim/
!/.config/nvim/init.lua
!/.config/nvim/lua/
!/.config/nvim/after/
!/.config/ghostty/
!/.config/ghostty/config
!/.config/awesome/
!/.config/awesome/rc.lua
!/.config/alacritty/
!/.config/alacritty/alacritty.toml
!/.config/alacritty/themes/
!/.config/alacritty/themes/themes/
!/.config/alacritty/themes/themes/gineikacc.toml
!/.config/rofi/



#!/.config/




